include README.md LICENSE MANIFEST.in setup.py setup.cfg pyproject.toml
include doc/pyshortcutgui_screenshot.png
exclude *.pyc core.* *~ *.pdf
recursive-exclude pyyshortcuts/__pycache__ *
recursive-exclude pyshortcuts *.pyc
recursive-include pyshortcuts *.py
recursive-include pyshortcuts/icons *
recursive-include examples *
recursive-include tests *.py
