name: test, ubuntu

on:  [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python from Miniconda
      uses: actions/setup-python@v2
      with:
          python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        echo '### which python:'
        which python
        echo '### printev:'
        printenv
        echo '###'
        python -m pip install --upgrade pip
        python -m pip install ".[doc,test]"
    - name: Run test suite
      run: |
        cd tests
        pytest
